<section>
  <main class="main-panel">
    <app-dash-panel width="2" height="2">
      <div class="heading">
        <fa-icon [icon]="cloud"></fa-icon>
        <h2>Weather Forecast</h2>
      </div>
    </app-dash-panel>

    <app-dash-panel width="2" height="1">
      <div class="heading">
        <fa-icon [icon]="download"></fa-icon>
        <h2>Download Status</h2>
      </div>
      <app-transmission-overview></app-transmission-overview>
    </app-dash-panel>

    <app-dash-panel button src="https://download.connr.onl/movies/">
      <div class="link">
        <fa-icon [icon]="movie"></fa-icon>
        <h2>Movies</h2>
      </div>
    </app-dash-panel>

    <app-dash-panel button src="https://download.connr.onl/tv/">
      <div class="link">
        <fa-icon [icon]="tv"></fa-icon>
        <h2>TV Shows</h2>
      </div>
    </app-dash-panel>

    <app-dash-panel></app-dash-panel>
    <app-dash-panel></app-dash-panel>

    <app-dash-panel width="2" height="2">
      <div class="heading">
        <fa-icon [icon]="twitter"></fa-icon>
        <h2>Twitter</h2>
      </div>
    </app-dash-panel>

    <app-dash-panel width="2" height="1"></app-dash-panel>
  </main>

  <app-theme-picker></app-theme-picker>
</section>
